<div class="center jumbotron">
    <h1>Welcome to the Library</h1>

    <h2>
        This is the home page for the Library
    </h2>

    <% if !logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>

    <% if logged_in? %>
    <%= link_to "View our books", books_path, class: "btn btn-lg btn-primary" %>
    <% end %>
</div>
