<%= form_for(@user) do |f| %>

<%= f.label :name, "First Name*" %>
<%= f.text_field :name , class: 'form-control'%>

<%= f.label :last_name, "Last Name*" %>
<%= f.text_field :last_name, class: 'form-control' %>

<%= f.label :email, "Email address*" %>
<%= f.email_field :email, class: 'form-control' %>

<%= f.label :addr1, "Address 1*" %>
<%= f.text_field :addr1, class: 'form-control' %>

<%= f.label :addr2, "Address 2" %>
<%= f.text_field :addr2, class: 'form-control' %>

<%= f.label :phone_nb, "Phone number*" %>
<%= f.text_field :phone_nb, class: 'form-control' %>

<%= f.label :password, "Password*" %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation, "Password confirmation*" %>
<%= f.password_field :password_confirmation, class: 'form-control' %>


<p>*mandatory fields</p>
<%= f.submit "Save", class: "btn btn-primary" %>

<% end %>
