<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  <% if user.is_active == true %>
  | <%= link_to "Disable", toggle_user_path(user), method: :put %>
  <% else  %>
  | <%= link_to "Enable", toggle_user_path(user), method: :put %>
  <% end %>
</li>
