<% provide(:title, "Edit user") %>
<h1>Update
    <%= @user.name %>
    's profile</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render 'form' %>
        <br>
        <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="_blank" class="btn btn-primary">change</a>
        </div>
    </div>
</div>
