<% provide(:title, 'All users') %>

<% if current_user && current_user.admin? %>

<h1>All users</h1>

<div class="input-group row">
	<%= form_tag users_path, :method => 'get', :class => 'navbar-form' do %>
	<span class="input-group-btn">
		<%= text_field_tag :search, params[:search], placeholder: "Search a user", :class => 'form-control' %>
		<%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
	</span>
	<% end %>
</div>

<div id=".pagination" class="container">
	<div class="row" align=center>
		<%= will_paginate @user, inner_window: 1, outer_window: 2 %>
	</div>

	<ul class="list-group col-md-8 col-md-offset-2" style="{float: left;}">
		<% @user.each do |user| %>
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-4">
					<%= gravatar_for user %>
				</div>
				<div class="col-md-2">
					<%= link_to user.name, user %>
				</div>

				<% if current_user.admin? && !current_user?(user) %>
				<div class="col-md-2">
					<%= link_to "Edit", edit_user_path(user), class: 'btn btn-primary' %>
				</div>
					<% if user.admin? == true %>
				<div class="col-md-2" >
					<%= link_to "Demote", promote_user_path(user), method: :put, class: 'btn btn-danger' %>
				</div>
					<% else  %>
				<div class="col-md-2" >
					  <%= link_to "Promote", promote_user_path(user), method: :put, class: 'btn btn-success' %>
				</div>
				<% end %>
				
				<% if user.is_active == true %>
				<div class="col-md-2" align=right>
					<%= link_to "Disable", toggle_user_path(user), method: :put, class: 'btn btn-danger' %>
				</div>
			<% else  %>
				<div class="col-md-2" align=right>
					<%= link_to "Enable", toggle_user_path(user), method: :put, class: 'btn btn-success' %>
				</div>
				<% end %>
				
				<% end %>
			</div>

		</li>
		<% end %>
	</ul>

	<div class="row" align=center>
		<%= will_paginate @user, inner_window: 1, outer_window: 2 %>
	</div>
</div>
<div class="row" align=right>
	<%= link_to "Add a User", '/signup', class:"btn btn-lg btn-primary" %>
</div>

<%end%>
