<%= provide :title, @user.name %>
<div class="container">
    <div class="row">
        <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
            <%= @user.last_name %>
        </h1>
    </div>
    <div class="row">
        <p>
            Email:
            <%= @user.email %>
        </p>
    </div>
    <div class="row">
        <p>
            Address:
            <%= @user.addr1 %>
        </p>

    </div>
    <% if !@user.addr2.empty? %>
    <div class="row">
        <p>
            Address2:
            <%= @user.addr2 %>
        </p>
    </div>
    <% end %>
    <div class="row">
        <p>
            Phone Number:
            <%= @user.phone_nb %>
        </p>
    </div>
    <% if current_user.admin? || current_user.id == @user.id %>
    <div class="row">
        <p>
            Is Active:
            <%= @user.is_active %>
        </p>
    </div>

    <br/>
    <% if @user.book %>
    <div class="row">
        <p>Your books:<p/>
            <%= render 'shared/error_messages' %>

            <div class="container table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>ISBN</th>
                            <th>Status</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @user.book.each do |b| %>
                        <tr>
                            <td><%= b.title %></td>
                            <td><%= b.author %></td>
                            <td><%= b.isbn_num %></td>
                            <td><%= b.status %></td>
                            <td><%= b.due_date %></td>
                            <td><%= link_to 'Show', b %></td>
                            <td><%= link_to 'Ask for a 30 days extension',
                        extension_path(id: b) %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% end %>
        <% end %>

        <div class="row" align=right>
            <span>
                <%= link_to "View our books", books_path, class: " btn btn-primary" %>
                <% if logged_in? && current_user == @user%>
                <%= link_to 'Edit my profile', edit_user_path(@user), class: "btn btn-primary"%>
                <% elsif logged_in? && current_user.admin? %>
                <%= link_to 'Edit this profile', edit_user_path(@user), class: "btn btn-primary"%>
                <% end%>
            </span>
        </div>
        <br/>
        <% if current_user.admin? && @user.admin %>
        <div class="row" align=right>
            <span>
                <%= link_to "Add a Book", '/new', class:"btn btn-primary" %>
                <%= link_to "Add a User", '/signup', class:"btn btn-primary" %>
            </span>
        </div>
        <% end %>
    </div>
