<% if @user %>
<% if @user.errors.any? %>
<div id="error_explanation">
    <div class="alert alert-danger">
        The form contains
        <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
<% end %>

<% if @book %>
<% if @book.errors.any? %>
<div id="error_explanation">
    <div class="alert alert-danger">
        The form contains
        <%= pluralize(@book.errors.count, "error") %>.
    </div>
    <ul>
        <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
<% end %>
