<%= form_for @book, :html => { :multipart => true } do |f| %>

<%= render 'shared/error_messages' %>

<%= f.label :title %>
<%= f.text_field :title, class: 'form-control' %>

<%= f.label :author %>
<%= f.text_field :author, class: 'form-control'%>

<%= f.label :isbn_num, "ISBN" %>
<%= f.text_field :isbn_num, class: 'form-control'%>

<%= f.label :description %>
<%= f.text_field :description, class: 'form-control'%>

<%= f.label :picture %>
<%= f.file_field :picture %>

<%= f.label :status %>
<%= f.select(:status, options_for_select(Book.statuses.keys.to_a, f.object.status), {}, {class: 'form-control'}) %>

<br/>

<div class="row">
    <div class="col-md-6">
        <%= link_to "Cancel", books_path, class: "btn btn-lg btn-block btn-danger" %>
    </div>
    <div class="col-md-6">
        <%= f.submit "Save", class: "btn btn-lg btn-primary btn-block " %>
    </div>
</div>
<% end %>
