<%= provide(:title, 'Edit a book') %>

<% if current_user && current_user.admin? %>
<h1>Edit book</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render 'form' %>
    </div>
</div>
<% end %>
