<% provide(:title, 'List books') %>
<h1>List of books</h1>

<% if current_user %>
<div class="input-group" align=right>
    <%= form_tag books_path, :method => 'get', :class => 'navbar-form' do %>
    <span class="input-group-btn">
        <%= text_field_tag :search, params[:search], placeholder: "Search a book", :class => 'form-control' %>
        <%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
    </span>
</div>
<% end %>
<div class="container table-responsive">

    <%= will_paginate @books %>
    <table class="table table-hover">
        <thead>
            <tr>
              <% if current_user.admin? %>
                <th>ID</th>
              <% end %>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Status</th>
                <th>Due date</th>
            </tr>
        </thead>
        <tbody>
            <% @books.each do |b| %>
            <% if current_user.admin? || b.status != 'Unavailable' %>

            <% if b.status == 'Available' %>
            <tr>
                <% elsif b.status == 'OnLoan' %>
                <tr class="info">
                <% else %>
                    <tr class="danger">
                        <% end %>
                        <% if current_user.admin? %>
                          <td><%= b.id %></td>
                        <% end %>
                        <td><%= b.title %></td>
                        <td><%= b.author %></td>
                        <td><%= b.isbn_num %></td>
                        <td><%= b.status %></td>
                        <td><%= b.due_date %></td>
                        <td><%= link_to 'Show', b %></td>
                        <% if current_user.admin? %>
                        <% if b.status == 'Available' %>
                        <td><%= link_to "Loan this book", loan_path(id: b) %></td>
                        <% elsif b.status == 'OnLoan' %>
                        <td><%= link_to "Mark this book as returned", return_path(id: b) %></td>
                    <% else %>
                        <td/>
                        <% end %>
                        <td><%= link_to 'Edit', edit_book_path(b) %></td>
                        <% if b.status != 'OnLoan' %>
                        <td><%= link_to "Change active state", toggle_book_path(b), method: :put %></td>
                    <% else %>
                        <td/>
                        <% end %>
                        <% end %>
                    </tr>
                    <% end %>
                    <% end %>
                </tbody>
            </table>
            <%= will_paginate @books %>

        </div>

    <% else %>
        <p>Please, log in to see our list of books</p>
        <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
        <tr/>
        <%= link_to "Log in", 'login', class: "btn btn-lg btn-primary" %>
        <%- end -%>

        <% if current_user && current_user.admin? %>
        <br/>
        <div class="row" align=right>
            <%= link_to "Add a new book", 'new', class: "btn btn-lg btn-primary" %>
        </div>
        <%- end -%>
