<%= provide(:title, 'Loan a book') %>

<% if current_user && current_user.admin? %>
<h1>Loan a book</h1>

<div class="container">
    <div class="input-group row">
        <%= form_tag loan_path, :method => 'get', :class => 'navbar-form' do %>
        <span class="input-group-btn">
            <%= text_field_tag :search, params[:search], placeholder: "Search a user", :class => 'form-control' %>
            <%= hidden_field_tag :id , @book.id %>
            <%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
        </span>
        <% end %>
    </div>

    <div class="row" align=center>
        <%= will_paginate @users, inner_window: 1, outer_window: 2 %>
    </div>

    <ul class="list-group col-md-6 col-md-offset-3">
        <% @users.each do |user| %>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    <%= gravatar_for user %>
                </div>
                <div class="col-md-2">
                    <%= link_to user.name, user %>
                </div>

                <div class="col-md-4" align=right>
                    <%= link_to "Loan to this user",
                      loan_to_path(book_id: @book, user_id: user), class: 'btn btn-primary' %>
                </div>
            </div>

        </li>
        <% end %>
    </ul>

    <div class="row" align=center>
        <%= will_paginate @users, inner_window: 1, outer_window: 2 %>
    </div>
</div>

<% end %>
