<%= provide(:title, @book.title) %>

<% if current_user %>

<h1>View a book</h1>
<div class="row">

    <%= image_tag @book.picture.url(:small) %>
    <br/><br/>

    <% if current_user.admin? %>
    <p>
        <strong>ID:</strong>
        <%= @book.id %>
    </p>
    <% end %>

    <p>
        <strong>Title:</strong>
        <%= @book.title %>
    </p>

    <p>
        <strong>Author:</strong>
        <%= @book.author %>
    </p>

    <p>
        <strong>ISBN:</strong>
        <%= @book.isbn_num %>
    </p>

    <p>
        <strong>Description:</strong>
        <%= @book.description %>
    </p>

    <p>
        <strong>Status:</strong>
        <%= @book.status %>
    </p>
</div>

<%= link_to "Back to the list", books_path, class: "btn btn-lg btn-primary" %>

<% if current_user.admin? %>
<%= link_to 'Edit', edit_book_path(@book), class: "btn btn-lg btn-primary" %>
<% end %>
<% end %>
