<footer class="footer">
    <div class="container">
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </nav>
    </div>
</footer>
