<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Library", root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", root_path %></li>
                <% if logged_in? %>
                <% if current_user.admin? %>
                <li><%= link_to "User List", users_path %></li>
                <li><%= link_to "Book List", books_path %></li>
                <% end %>
                <li><%= link_to current_user.name, current_user %></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
        </li>
    <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
    </ul>
</nav>
</div>
</header>
